<nav class="hero-head has-background-white-ter">
    {{ $currentPage := . }}
    <div class="columns is-mobile is-marginless heading has-text-weight-bold">
        <div class="column center is-paddingless">
            <ul>
                {{ range .Site.Menus.team }}
                <li class="horizontal-nav-item">
                    <a class="navbar-item has-text-black{{if or ($currentPage.IsMenuCurrent `team` .) ($currentPage.HasMenuCurrent `team` .) }} active{{end}}"
                        href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
</nav>