<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {{- if not .IsHome }}
        {{- if eq .Kind "page" }}{{ .Title }}
        {{- else if eq .Data.Singular "tag" }}{{ .Data.Term }}
        {{- else }}Posts
        {{- end }} - {{ end }}
        {{- .Site.Title -}}
    </title>
    <link rel="icon" href="/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    {{/*  <link rel="stylesheet" href="https://use.typekit.net/eiy5sbf.css">  */}}
    <link rel="stylesheet" href="/css/helpers.css">
    {{/*  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>  */}}
</head>